@charset "UTF-8";

:root {
    --header-color: #173623;
    --header-text-color: #ffffff;
    --background-color: #45654f;
    --slide-color: #F5F2E8;
    --slide-text-color: #000000;
}

@font-face {
    font-family: 'Allura';
    src: url('Allura-Regular.ttf');
}

body{
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0pt
}

#contentbody {
    background-color: var(--background-color);
}

img.glyph {
    max-width: 50%;
    max-height: 50%;
    margin: 15pt;
}

header {
    font-size: large;
    color: white;

    width: 100%;
    
    background-color: #173623;
    
    margin: 0pt;
    height: 4lh;
    
    padding: 0pt;
    position:sticky;
    left: 0;
    right: 0;
    top: 0;
    border: solid 1px red;
    display: flex;
    flex-direction: row;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    border: solid 1px brown;
    flex-basis: 70%;
    flex-grow: 2;
}

.navitem {
    padding-left: 1ch;
    padding-right: 1ch;

    text-align: center;
    align-content: center;

    color: white;
    font-size: large;
    text-decoration: none;
    
    flex-grow: 1;
}

.navitem:hover {
    cursor: pointer;
    text-decoration: underline;
}

#content {
    margin-top: 10pt;

}

#contacttop {
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    
}

.textbox {
    background-color: #F5F2E8;
    padding: 2%;
}

.phonenrbox{
    color: black;
    font-size: xx-large;
}

.backgroundimage {
    width: 100%;
    height: 100%;
    background-attachment: fixed;

}

.cursive {
    font-family: 'Allura';
    font-size: 2em;
}

.spacedlist {
    list-style-type: none;
    font-size: large;
}

.spacedlist li + li {
    margin-top: 10px;
}