.hero-parallax {
    width: 100vw;
    height: 60%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scroll-snap-type: y proximity;
}

@media(min-aspect-ratio: 1/1) {
    .parallax {
        /*filter: saturate(125%), brightness(115%);*/
        /*background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/169-1.jpg');*/
        background-image: url('images/169-1.jpg');
    }
}
@media(max-aspect-ratio: 1/1) {
    .parallax {
        /*background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/landscape-big.webp');*/
        background-image: url('images/landscape-big.webp');
    }
}

